.portfolio {
    padding-top: 120px;
    &__block {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(1, 280px) / repeat(4, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
   /*      .vertical {
            grid-row: 1 / 2;
            grid-column: 3 / 5;
        }
        .horizontal {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
        } */
    }
    
    &__item {
        img {
            filter: opacity(70%);
            display: block;
            width: 100%;
            height: 100%;
            &:hover {
                filter: opacity(100%);
                scale: 105%;
            }
        }
    }
}